<!DOCTYPE html>
<html>
<head>
    <title>Grocery Items</title>
</head>
<body>
    <h1>Grocery Items</h1>
    <ul>
    {% for item in items %}
        <li>{{ item.item_name }} ({{ item.category }}) - {{ item.status }}</li>
    {% endfor %}
    </ul>
</body>
</html>
